@charset "utf=8";

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.5em;
}

ul{
    display: none;
}

header h1{
    margin: 10px
}

main::after{
    content: "Este artigo foi feito a partir do trabalho e dedicação do autor que vos escreve.";
}