@charset "utf-8";
/*VERSÃO MOBILE FIRST*/

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body, html{
    width: 100vw;
    height: 100vh;
}

body{
    background: black url(../images/back-phone.jpg) center center no-repeat;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.768);
    width: 90vw;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

main h1{
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

img#phone{ display: block}
img#tablet{ display: none}
img#print{ display: none}
img#pc{ display: none}
img#tv{ display: none}